<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <appSettings>
    <add key="scrape_description" value="NES"/>
    <add key="nes_name" value="NES"/>
    <add key="nes_pc_path" value="P:\RetroPie\Roms\nes"/>
    <add key="nes_pi_path" value="/home/pi/RetroPie/roms/nes/"/>
    <add key="nes_smb_share_path" value="E:\test"/>
    <add key="nes_cover_width" value="825"/>
    <add key="nes_cover_height" value="580"/>
    <add key="nes_cover_width_alternate" value="580"/>
    <add key="nes_cover_height_alternate" value="825"/>
    <add key="nes_rom_extension" value="nes"/>
    <add key="nes_gamesdb_machine_name" value="Nintendo Entertainment System (NES)"/>
    <add key="snes_name" value="SNES"/>
    <add key="snes_pc_path" value="P:\RetroPie\Roms\snes"/>
    <add key="snes_pi_path" value="/home/pi/RetroPie/roms/snes/"/>
    <add key="snes_cover_width" value="825"/>
    <add key="snes_cover_height" value="580"/>
    <add key="snes_cover_width_alternate" value="580"/>
    <add key="snes_cover_height_alternate" value="825"/>
    <add key="snes_rom_extension" value="smc,sfc,fig,swc"/>
    <add key="snes_gamesdb_machine_name" value="Super Nintendo (SNES)"/>
    <add key="mastersystem_name" value="MasterSystem"/>
    <add key="mastersystem_pc_path" value="P:\RetroPie\Roms\mastersystem"/>
    <add key="mastersystem_pi_path" value="/home/pi/RetroPie/roms/mastersystem/"/>
    <add key="mastersystem_cover_width" value="825"/>
    <add key="mastersystem_cover_height" value="580"/>
    <add key="mastersystem_cover_width_alternate" value="580"/>
    <add key="mastersystem_cover_height_alternate" value="825"/>
    <add key="mastersystem_rom_extension" value="sms"/>
    <add key="mastersystem_gamesdb_machine_name" value="Sega Master System"/>
    <add key="genesis_name" value="Megadrive (Genesis scraper)"/>
    <add key="genesis_pc_path" value="P:\RetroPie\Roms\megadrive"/>
    <add key="genesis_pi_path" value="/home/pi/RetroPie/roms/megadrive/"/>
    <add key="genesis_cover_width" value="825"/>
    <add key="genesis_cover_height" value="580"/>
    <add key="genesis_cover_width_alternate" value="580"/>
    <add key="genesis_cover_height_alternate" value="825"/>
    <add key="genesis_rom_extension" value="smd,bin"/>
    <add key="genesis_gamesdb_machine_name" value="Sega Genesis"/>
    <add key="megadrive_name" value="Megadrive"/>
    <add key="megadrive_pc_path" value="P:\RetroPie\Roms\megadrive"/>
    <add key="megadrive_pi_path" value="/home/pi/RetroPie/roms/megadrive/"/>
    <add key="megadrive_cover_width" value="825"/>
    <add key="megadrive_cover_height" value="580"/>
    <add key="megadrive_cover_width_alternate" value="580"/>
    <add key="megadrive_cover_height_alternate" value="825"/>
    <add key="megadrive_rom_extension" value="smd,bin"/>
    <add key="megadrive_gamesdb_machine_name" value="Sega Mega Drive"/>
    <add key="amiga_name" value="Amiga"/>
    <add key="amiga_pc_path" value=""/>
    <add key="amiga_pi_path" value=""/>
    <add key="amiga_cover_width" value=""/>
    <add key="amiga_cover_height" value=""/>
    <add key="amiga_cover_width_alternate" value=""/>
    <add key="amiga_cover_height_alternate" value=""/>
    <add key="amiga_rom_extension" value=""/>
    <add key="amiga_gamesdb_machine_name" value=""/>
    <add key="apple2_name" value="Apple II"/>
    <add key="apple2_pc_path" value=""/>
    <add key="apple2_pi_path" value=""/>
    <add key="apple2_cover_width" value=""/>
    <add key="apple2_cover_height" value=""/>
    <add key="apple2_cover_width_alternate" value=""/>
    <add key="apple2_cover_height_alternate" value=""/>
    <add key="apple2_rom_extension" value=""/>
    <add key="apple2_gamesdb_machine_name" value=""/>
    <add key="atari2600_name" value="Atari 2600"/>
    <add key="atari2600_pc_path" value=""/>
    <add key="atari2600_pi_path" value=""/>
    <add key="atari2600_cover_width" value=""/>
    <add key="atari2600_cover_height" value=""/>
    <add key="atari2600_cover_width_alternate" value=""/>
    <add key="atari2600_cover_height_alternate" value=""/>
    <add key="atari2600_rom_extension" value=""/>
    <add key="atari2600_gamesdb_machine_name" value=""/>
    <add key="atariststefalcon_name" value="Atari ST"/>
    <add key="atariststefalcon_pc_path" value=""/>
    <add key="atariststefalcon_pi_path" value=""/>
    <add key="atariststefalcon_cover_width" value=""/>
    <add key="atariststefalcon_cover_height" value=""/>
    <add key="atariststefalcon_cover_width_alternate" value=""/>
    <add key="atariststefalcon_cover_height_alternate" value=""/>
    <add key="atariststefalcon_rom_extension" value=""/>
    <add key="atariststefalcon_gamesdb_machine_name" value=""/>
    <add key="basiliskii_name" value="Macintosh"/>
    <add key="basiliskii_pc_path" value=""/>
    <add key="basiliskii_pi_path" value=""/>
    <add key="basiliskii_cover_width" value=""/>
    <add key="basiliskii_cover_height" value=""/>
    <add key="basiliskii_cover_width_alternate" value=""/>
    <add key="basiliskii_cover_height_alternate" value=""/>
    <add key="basiliskii_rom_extension" value=""/>
    <add key="basiliskii_gamesdb_machine_name" value=""/>
    <add key="c64_name" value="C64"/>
    <add key="c64_pc_path" value=""/>
    <add key="c64_pi_path" value=""/>
    <add key="c64_cover_width" value=""/>
    <add key="c64_cover_height" value=""/>
    <add key="c64_cover_width_alternate" value=""/>
    <add key="c64_cover_height_alternate" value=""/>
    <add key="c64_rom_extension" value=""/>
    <add key="c64_gamesdb_machine_name" value=""/>
    <add key="doom_name" value="DOOM"/>
    <add key="doom_pc_path" value=""/>
    <add key="doom_pi_path" value=""/>
    <add key="doom_cover_width" value=""/>
    <add key="doom_cover_height" value=""/>
    <add key="doom_cover_width_alternate" value=""/>
    <add key="doom_cover_height_alternate" value=""/>
    <add key="doom_rom_extension" value=""/>
    <add key="doom_gamesdb_machine_name" value=""/>
    <add key="duke3d_name" value="Duke Nukem 3D"/>
    <add key="duke3d_pc_path" value=""/>
    <add key="duke3d_pi_path" value=""/>
    <add key="duke3d_cover_width" value=""/>
    <add key="duke3d_cover_height" value=""/>
    <add key="duke3d_cover_width_alternate" value=""/>
    <add key="duke3d_cover_height_alternate" value=""/>
    <add key="duke3d_rom_extension" value=""/>
    <add key="duke3d_gamesdb_machine_name" value=""/>
    <add key="fba_name" value="Final Burn Alpha"/>
    <add key="fba_pc_path" value=""/>
    <add key="fba_pi_path" value=""/>
    <add key="fba_cover_width" value=""/>
    <add key="fba_cover_height" value=""/>
    <add key="fba_cover_width_alternate" value=""/>
    <add key="fba_cover_height_alternate" value=""/>
    <add key="fba_rom_extension" value=""/>
    <add key="fba_gamesdb_machine_name" value=""/>
    <add key="gamegear_name" value="GameGear"/>
    <add key="gamegear_pc_path" value=""/>
    <add key="gamegear_pi_path" value=""/>
    <add key="gamegear_cover_width" value=""/>
    <add key="gamegear_cover_height" value=""/>
    <add key="gamegear_cover_width_alternate" value=""/>
    <add key="gamegear_cover_height_alternate" value=""/>
    <add key="gamegear_rom_extension" value=""/>
    <add key="gamegear_gamesdb_machine_name" value=""/>
    <add key="gb_name" value="GameBoy"/>
    <add key="gb_pc_path" value=""/>
    <add key="gb_pi_path" value=""/>
    <add key="gb_cover_width" value=""/>
    <add key="gb_cover_height" value=""/>
    <add key="gb_cover_width_alternate" value=""/>
    <add key="gb_cover_height_alternate" value=""/>
    <add key="gb_rom_extension" value=""/>
    <add key="gb_gamesdb_machine_name" value=""/>
    <add key="gba_name" value="GameBoy Advance"/>
    <add key="gba_pc_path" value=""/>
    <add key="gba_pi_path" value=""/>
    <add key="gba_cover_width" value=""/>
    <add key="gba_cover_height" value=""/>
    <add key="gba_cover_width_alternate" value=""/>
    <add key="gba_cover_height_alternate" value=""/>
    <add key="gba_rom_extension" value=""/>
    <add key="gba_gamesdb_machine_name" value=""/>
    <add key="gbc_name" value="GameBoy Color"/>
    <add key="gbc_pc_path" value=""/>
    <add key="gbc_pi_path" value=""/>
    <add key="gbc_cover_width" value=""/>
    <add key="gbc_cover_height" value=""/>
    <add key="gbc_cover_width_alternate" value=""/>
    <add key="gbc_cover_height_alternate" value=""/>
    <add key="gbc_rom_extension" value=""/>
    <add key="gbc_gamesdb_machine_name" value=""/>
    <add key="intellivision_name" value="IntelliVision"/>
    <add key="intellivision_pc_path" value=""/>
    <add key="intellivision_pi_path" value=""/>
    <add key="intellivision_cover_width" value=""/>
    <add key="intellivision_cover_height" value=""/>
    <add key="intellivision_cover_width_alternate" value=""/>
    <add key="intellivision_cover_height_alternate" value=""/>
    <add key="intellivision_rom_extension" value=""/>
    <add key="intellivision_gamesdb_machine_name" value=""/>
    <add key="mame_name" value="MAME"/>
    <add key="mame_pc_path" value=""/>
    <add key="mame_pi_path" value=""/>
    <add key="mame_cover_width" value=""/>
    <add key="mame_cover_height" value=""/>
    <add key="mame_cover_width_alternate" value=""/>
    <add key="mame_cover_height_alternate" value=""/>
    <add key="mame_rom_extension" value=""/>
    <add key="mame_gamesdb_machine_name" value=""/>
    <add key="n64_name" value="Nintendo 64"/>
    <add key="n64_pc_path" value=""/>
    <add key="n64_pi_path" value=""/>
    <add key="n64_cover_width" value=""/>
    <add key="n64_cover_height" value=""/>
    <add key="n64_cover_width_alternate" value=""/>
    <add key="n64_cover_height_alternate" value=""/>
    <add key="n64_rom_extension" value=""/>
    <add key="n64_gamesdb_machine_name" value=""/>
    <add key="neogeo_name" value="NeoGeo"/>
    <add key="neogeo_pc_path" value=""/>
    <add key="neogeo_pi_path" value=""/>
    <add key="neogeo_cover_width" value=""/>
    <add key="neogeo_cover_height" value=""/>
    <add key="neogeo_cover_width_alternate" value=""/>
    <add key="neogeo_cover_height_alternate" value=""/>
    <add key="neogeo_rom_extension" value=""/>
    <add key="neogeo_gamesdb_machine_name" value=""/>
    <add key="pcengine_name" value="PC Engine"/>
    <add key="pcengine_pc_path" value=""/>
    <add key="pcengine_pi_path" value=""/>
    <add key="pcengine_cover_width" value=""/>
    <add key="pcengine_cover_height" value=""/>
    <add key="pcengine_cover_width_alternate" value=""/>
    <add key="pcengine_cover_height_alternate" value=""/>
    <add key="pcengine_rom_extension" value=""/>
    <add key="pcengine_gamesdb_machine_name" value=""/>
    <add key="ppsspp_name" value="PSP"/>
    <add key="ppsspp_pc_path" value=""/>
    <add key="ppsspp_pi_path" value=""/>
    <add key="ppsspp_cover_width" value=""/>
    <add key="ppsspp_cover_height" value=""/>
    <add key="ppsspp_cover_width_alternate" value=""/>
    <add key="ppsspp_cover_height_alternate" value=""/>
    <add key="ppsspp_rom_extension" value=""/>
    <add key="ppsspp_gamesdb_machine_name" value=""/>
    <add key="psx_name" value="Playstation"/>
    <add key="psx_pc_path" value=""/>
    <add key="psx_pi_path" value=""/>
    <add key="psx_cover_width" value=""/>
    <add key="psx_cover_height" value=""/>
    <add key="psx_cover_width_alternate" value=""/>
    <add key="psx_cover_height_alternate" value=""/>
    <add key="psx_rom_extension" value=""/>
    <add key="psx_gamesdb_machine_name" value=""/>
    <add key="scummvm_name" value="ScummVM"/>
    <add key="scummvm_pc_path" value=""/>
    <add key="scummvm_pi_path" value=""/>
    <add key="scummvm_cover_width" value=""/>
    <add key="scummvm_cover_height" value=""/>
    <add key="scummvm_cover_width_alternate" value=""/>
    <add key="scummvm_cover_height_alternate" value=""/>
    <add key="scummvm_rom_extension" value=""/>
    <add key="scummvm_gamesdb_machine_name" value=""/>
    <add key="x86_name" value="x86"/>
    <add key="x86_pc_path" value=""/>
    <add key="x86_pi_path" value=""/>
    <add key="x86_cover_width" value=""/>
    <add key="x86_cover_height" value=""/>
    <add key="x86_cover_width_alternate" value=""/>
    <add key="x86_cover_height_alternate" value=""/>
    <add key="x86_rom_extension" value=""/>
    <add key="x86_gamesdb_machine_name" value=""/>
    <add key="zmachine_name" value="ZMachine"/>
    <add key="zmachine_pc_path" value=""/>
    <add key="zmachine_pi_path" value=""/>
    <add key="zmachine_cover_width" value=""/>
    <add key="zmachine_cover_height" value=""/>
    <add key="zmachine_cover_width_alternate" value=""/>
    <add key="zmachine_cover_height_alternate" value=""/>
    <add key="zmachine_rom_extension" value=""/>
    <add key="zmachine_gamesdb_machine_name" value=""/>
    <add key="zxspectrum_name" value="ZX Spectrum"/>
    <add key="zxspectrum_pc_path" value=""/>
    <add key="zxspectrum_pi_path" value=""/>
    <add key="zxspectrum_cover_width" value=""/>
    <add key="zxspectrum_cover_height" value=""/>
    <add key="zxspectrum_cover_width_alternate" value=""/>
    <add key="zxspectrum_cover_height_alternate" value=""/>
    <add key="zxspectrum_rom_extension" value=""/>
    <add key="zxspectrum_gamesdb_machine_name" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
